################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EIAUpdater/bin/Debug
/.vs/QuantitativeApp/v15
/EIAUpdater/obj
